body{
    font-family: 'Times New Roman', Times, serif
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login{
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-left: 1%;

}

#login a{
    margin-left: 10%;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    text-decoration-line: none;

}
#menu a{
    margin-left: 20%;
    justify-content: space-around;


}
img{
    width: 600px;
    height: 310px;
    align-content: center;
}
